.contentContainer {
    display: flex;
    margin-top: 100px;
    padding: 5px 40px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.cardsBoxers {
    display: flex;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.contentCard {
    margin-left: 20px;
}