.contentContainer {
    display: flex;
    margin-top: 100px;
    padding: 5px 40px;
    flex-direction: column;
}

.cardsBoxers {
    display: flex;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

@media screen and (min-width: 780px) {
    .contentCard {
        margin-left: 20px;
    }
}

@media screen and (max-width: 779px) {
    .contentCard {
        margin-left: 0px;
    }

    .cardsBoxers {
        flex-direction: column;
    }

    .contentContainer {
        padding: 5px 8px;
    }
}