@media screen and (min-width: 1100px) {
	.iconsBox {
		display: flex;
		width: 10%;
		justify-content: space-around;
		align-items: center;
	}
	
	.iconsBox>*,
	.logo>* {
		cursor: pointer;
	}	

	.responsiveMenuIcon {
		display: none;
	}
}

@media screen and (max-width: 1099px) {
	.iconsBox {
		display: none;
	}
}
	